:root {
    --primary: rgb(255, 213, 2);
    --dark-primary: rgb(218, 185, 22);
    --secondary: rgb(72, 161, 77);
    --light: rgb(240, 240, 240);
    --dark: #212529;
  }

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--light);
}

.navigation a {
    text-decoration: none;
}

.navigation .brand {
    font-weight: 700;
}

.navigation .navToggler {
    background-color: var(--primary);
    display: none;
}

.navigation .navDismiss {
    background-color: var(--primary);
    display: none;
}

.navigation .pages {
    list-style-type: none;
}
.navigation .pages li {
    padding: 0 .8rem;
}

.navigation .nav-item:hover {
    color: var(--primary);
}

.navigation .action .loginBtn {
    background-color: var(--primary);
}

.slideshow .carousel-item img {
    height: calc(100vh - 74px);
}

.slideshow .carousel {
    z-index: -1;
}

.dataAngka .card {
    width: 15rem;
    border: none;
    background-color: none;
    border: 1px solid var(--secondary);
    overflow: hidden;
}

.dataAngka .card .icon {
    background-color: var(--secondary);
    width: 5rem;
    height: 5rem;
}

.dataAngka .card .icon i {
    color: #fff;
    font-size: 3rem;
}

.dataAngka .cardBody .amount {
    font-size: 2rem;
    margin-bottom: -8px;
    margin-top: -4px;
    font-weight: 700;
}

.cardProfile {
    background-color: var(--primary);
    margin-top: 120px;
}

.cardProfile .card{
    width: 15rem;
}

.cardProfile img{
    width: 10rem;
}

.news {
    margin-top: 120px;
}

.news .latestNews img {
    width: 100%;
    border-radius: 1rem;
}

.news .latestNews .latestNewsCard {
    background-color: #fff;
    border-radius: 1rem;
    margin-top: -100px;
    position: absolute;
    width: 90%;
}

.news .latestNews .latestNewsCard h4 {
    font-weight: 700;
}

.news .latestNews .latestNewsCard small {
    font-weight: 500;
    opacity: .8;
}

.news .rightSideNews {
    border-radius: 1rem;
    overflow: hidden;
}

.news .rightSideNews img {
    width: 40%;
}

.news .rightSideNews .link:hover{
    outline: 6px solid var(--secondary);
    transition: .2s;
}

.news .rightSideNews h5 {
    font-weight: 600;
}

.news .rightSideNews .dateTag{
    font-size: .9rem;
}

.news .rightSideNews small {
    font-weight: 500;
    opacity: .8;
}

.news .allNewsBtn {
    background-color: var(--primary);
}

.about {
    margin-top: 120px;
}

.about img {
    border-radius: 1rem;
    height: 20rem;
}

.about .aboutBtn {
    background-color: var(--primary);
}

.footer {
    margin-top: 120px;
    background-color: var(--primary);
}

.footer .logo {
    border-radius: 1rem;
}

.footer .logo img {
    height: 3rem;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: .5rem;
}

.footer i {
    width: 1rem;
    margin-right: .5rem;
}

.footer a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    opacity: .7;
}

.footer a:hover {
    opacity: 1;
}

.header {
    height: 10rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.header .overlay {
    background-color: rgba(0, 0, 0, .25);
}

.header .headerTitle {
    margin-top: 8rem;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

.header .headerTitle h4{
    margin: 0;
}

.news .mainSideNews img {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
}

.news .mainSideNews .mainNewsCard {
    width: 93.8%;
    border-radius: 1rem;
    margin-top: -100px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.news .mainSideNews .mainNewsCard h5{
    margin: 0;
}

.news .link:hover .mainNewsCard, .news .link:hover .latestNewsCard{
    margin-top: -105px;
    transition: .1s;
    transition-timing-function: ease-in-out;
    background-color: rgb(250, 250, 250);
}

.allNews .cardNews {
    /* width: 16rem; */
    background-color: #fff;
    border-radius: 1rem;
}

.allNews .cardNews:hover {
    margin-top: -.3rem;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

.allNews .cardNews .cardNewsImg {
    width: 100%;
    height: 7rem;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.allNews .cardNews .cardNewsImg img{
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.allNews .cardNews .cardNewsTitle {
    font-weight: 600;
}

.allNews .cardNews .cardNewsInfo {
    font-size: .8rem;
}

.allNews .cardNews .cardNewsInfo span i{
    font-size: .7rem;
}

.allNews .cardNews .cardNewsShareBtn {
    margin-top: -1.5rem;
    right: 1.2rem;
    background-color: var(--primary);
}

.allNews .pagination .page-item .page-link{
    color: var(--dark-primary);
}

.agenda .agendaCard {
    border-radius: 1rem;
}

.agenda .agendaTable {
    width: 100%;
}

.agenda .agendaTable tr:first-child td:nth-child(n+2) {
    width: 13.3%;
}

.agenda .agendaTable tr td{
    border: 1px solid #dfdfdf;
}

.agenda .agendaTable .date {
    margin: 0;
    font-weight: 700;
}

.agenda .agendaTable .calendarIcon {
    background-color: #ececec;
    color: var(--secondary);
    box-shadow: inset 0 0 0 3px #fff;

}

.agenda .agendaTable .active {
    box-shadow: inset 0px -4px 0px var(--secondary);
    box-sizing: border-box;
}

.agenda .agendaBtn span{
    background-color: var(--primary);
    font-size: .9rem;
    font-weight: 500;
}

.agenda .agendaTable .agendaTableBody tr td{
    padding: .5rem;
}

.agenda .agendaTable .agendaTableBody tr td:first-child{
    color: #949494;
    text-align: center;
}

.agenda .agendaTable .time{
    font-weight: 500;
    background-color: #fff;
}

.agenda .agendaTable tr td:first-child {
    position: sticky;
    left: 0;
}

.agendaTable .agendaTableBody .agendaPurple {
    background-color: rgba(70, 100, 255, .2);
    box-shadow: inset 0 0 0 3px #fff;
    color: rgb(70, 100, 255);
}

.agendaTable .agendaTableBody .agendaBlue {
    background-color: rgba(62, 184, 254, .2);
    box-shadow: inset 0 0 0 3px #fff;
    color: rgb(62, 184, 254);
}

.agendaTable .agendaTableBody .agendaOrange {
    background-color: rgba(253, 143, 41, .2);
    box-shadow: inset 0 0 0 3px #fff;
    color: rgb(253, 143, 41);
}

.agendaTable .agendaTableBody .agendaRed {
    background-color: rgba(254, 84, 84, .2);
    box-shadow: inset 0 0 0 3px #fff;
    color: rgb(254, 84, 84);
}

.aboutPage .aboutCard {
    border-radius: 1rem;
}
