.text-secondary {
    color: var(--secondary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-dark-primary {
    color: var(--dark-primary) !important;
}

a.link {
    text-decoration: none;
    color: #212529 !important;
}

a.link-primary:hover {
    color: var(--primary) !important;
}

span.link-primary-dark:hover {
    background-color: var(--dark-primary);
    cursor: pointer;
}

.link-secondary-dark {
    background-color: var(--secondary);
    color: var(--light);
}

.link-secondary-dark:hover {
    background-color: var(--dark-secondary);
    cursor: pointer;
}

.bg-main {
    background-color: var(--primary);
}



